* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 100vh;
}

#game-area {
    height: 480px;
    width: 480px;
    position: relative;
}