* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 100vh;
}

body .card {
    width: 480px;
    min-height: 200px;
}

#game-area {
    height: 480px;
    width: 480px;
    position: relative;
    display: none;
}
#info-card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    min-height: 400px;
}