* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 100vh;
}

body .card {
    width: 480px;
    min-height: 200px;
}

#game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.profileIcon {
    height: 75px !important;
    width: 75px !important;
    margin: 1rem auto;
    display: block;
    overflow: hidden;
    object-fit: contain;
}

#chessboard {
    height: 480px;
    width: 480px;
}

#info-card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    min-height: 400px;
}