* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 100vh;
}

body .card {
    width: 480px;
    min-height: 200px;
}

#game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.playerSection {
    position: relative;
}

.playerSection .profileIcon {
    height: 72px !important;
    width: 72px !important;
    position: relative;
    z-index: 10;
    margin: 1rem auto;
    display: block;
    overflow: hidden;
    object-fit: contain;
}

.playerSection .text {
    font-size: 0.8rem;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.playerSection .top {
    bottom: 70px;
}

.playerSection .bottom {
    top: 96px;
}

#chessboard {
    height: 480px;
    width: 480px;
}

#info-card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    min-height: 400px;
}